body{
    background-color: lightpink;
}

.container{
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ball{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    /*
    animation-duration: 5s;
    animation-name: change-color;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
    animation: 3s change-color infinite alternate
}

@keyframes change-color {
    0%{
        background-color: red;
    }
    50%{
        background-color: blue;
        width: 200px;
        height: 200px;
    }
    100%{
        background-color: green;
    }
}